body{
        
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
    color: #333;

}

header{
    background-color: #663300;
    /*height: 70px;*/
    text-align: center;
    
    margin: 0 auto;
    padding: 0.75rem;
    max-width: 45rem;

}
h1{
    color: white;
    margin: 0.15;
    font-size: 1.5rem;  

}
img{
    width: 200px;
    height: auto;


}

main{
    
    margin: 0 auto;
    padding: 0.75rem;
    max-width: 45rem;

}

h2{
    border-style: none none solid none;
    border-color: #DCDCDC;
    border-width: 2px;
    font-size: 1rem;
    

}

nav{

    margin: 0 auto;
    padding: 0.75rem;
    max-width: 45rem;
}

nav a:hover{
    color: green;

}

footer{
    background-color: #663300;
    text-align: center;
    margin: 0 auto;
    padding: 0.75rem;
    max-width: 45rem;
    color: white;
}
footer #line1{
    padding-top: 10px;
    margin: 0;

}
footer #line2{
    padding-top: 10px;
    color: yellow;
    margin: 0;
    font-size: .8em;
}
