@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Finger+Paint&family=Open+Sans&family=Poppins&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

/*
font-family: 'Cinzel', serif;
font-family: 'Finger Paint', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Merriweather', serif;
*/

body{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    height: auto;
}

.logo {
    height: 100%;
    display: flex;
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    align-items: center;
    font-family: 'Finger Paint', cursive;
    
}
.logo img{
    height: 80px;
    min-width: auto;
}
#logoWeather{
    color: #99ffff;
}
.domainName{
    font-style: italic;
    text-indent: 0px;
}

nav {
    max-height: 80px;
    background-color:#666600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 0px;
}
nav .menu-btn{
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}

nav ul {
    display: flex;
    list-style: none;
    max-width: 100%;
}
nav ul li{
    margin: 0 5x;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s;
}
nav ul li a:hover,
nav ul li a.active{
    color: #666600;
    background-color: white;
}

main {
    color: #333333;
    padding: 0 20px;
    height: 100%;
}

main h1,h2,h3,h4{
    font-family: 'Merriweather', serif;
}
main p,li{
    font-size: 1rem;
}
main img{
    height: 250px;
    border: solid 2px #333333;
}

.domainName {
    font-size: 1.5rem;
}


footer{
    background-color: #666600;
    text-align: center;
    margin: 0 auto;
    padding: 0.75rem;
    color: white;
    margin-top: 150px;
}
footer #line1{
    padding-top: 10px;
    margin: 0;

}
footer #line2{
    padding-top: 10px;
    color: yellow;
    margin: 0;
    font-size: .8em;
}
